* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Inter;
}
section {
  padding: 4.5rem 1.5rem;
}
:root {
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  background-color: #0b9586;
  transition: 0.5s;
}
header.shadow {
  background-color: var(--bg-color);
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
header.shadow .navbar a {
  color: var(--bg-color);
}
header.shadow .logo {
  color: var(--text-color);
}
header .logo img {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  width: 50px;
  border-radius: 20%;
}

header .navbar {
  display: flex;
  column-gap: 5rem;
}
.navbar li {
  position: relative;
}
.navbar a {
  font-weight: 500;
  font-size: 1rem;
  color: var(--bg-color);
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 100001;
  display: none;
}

.call-us {
  color: var(--bg-color);
}
.home {
  background-image: url(../images/solar-panels-meadow\ 1.png);
  min-height: 100vh;
  background-size: cover; /* Adjusted background-size */
  background-repeat: no-repeat;
  background-position: center;
  top: 86px;
  left: 1442px;
  gap: 0px;
}
.container {
  margin: 0 auto;
  width: 80%;
}
.progress-container {
  position: relative;
  width: 40%;
  height: 100px;
}

.progress-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7%;
  width: 80%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.409);
  border-radius: 10%;
}
.progress-bar-two {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: 5px;
  background-color: #ffff;
  border-radius: 10%;
}
.progress-container::before {
  content: "01";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 48px;
  text-align: center;
  line-height: 48px;
}

.progress-container::after {
  content: "04";
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
}

.home-text h1 {
  gap: 0px;
  opacity: 0px;
  color: #ffff;
  font-size: 52px;
  font-weight: 600;
  line-height: 62.93px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.home-text p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffff;
}
.btn {
  width: 173px;
  height: 41px;
  padding: 12px 34px 12px 34px;
  gap: 10px;
  border-radius: 109px;
  opacity: 0px;
  background: #3cab90;
  color: #ffff;
  font-weight: 400;
  font-size: 14px;
}
.btn-2 {
  width: 208px;
  height: 41px;
  padding: 12px 34px 12px 34px;
  gap: 10px;
  border-radius: 109px;
  opacity: 0px;
  background: #ffbb1c;
  color: black;
  font-weight: 400;
  font-size: 14px;
}
.item {
  padding: 80px 0px 80px 0px;
  gap: 23px;
  opacity: 0px;
  display: flex;
}
.item2 {
  width: 50%;
}
.item2 h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50.83px;
  letter-spacing: -2%;
}
.item2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #475467;
}
.item3 {
  width: 498px;
  height: 156px;
  gap: 12px;
  opacity: 0px;
  padding: 30px 0;
}
.item3 ul li {
  display: flex;
  align-items: center;
}

.item3 ul li p {
  text-align: left;
  color: #101828;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
}
.item3 span {
  font-family: Akazan;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.28px;
  letter-spacing: 4px;
  text-align: left;
  color: #84bd3a;
}
.photo {
  position: relative;
}

.photo .logo1 {
  border-radius: 12px 0px 0px 0px;
}

.photo .logo2 {
  position: absolute;

  right: 55%;
  top: 55%;
}
.power {
  background-image: url("../images/8116\ 1.png");
  background-size: cover; /* Adjusted background-size */
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.about {
  padding: 50px 0;
  max-width: 600px;
  color: #ffff;
}
.about h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 50.83px;
  letter-spacing: -2%;
  padding-bottom: 15px;
}
.about p {
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  padding-bottom: 20px;
}
.btn-4 {
  width: 173px;
  height: 41px;
  padding: 12px 34px 12px 34px;
  border-radius: 109px;
  background: #ffbb1c;
  border: #ffbb1c;
}
.solar {
  padding: 50px 0;
}
.title {
  margin: 0 auto;
  text-align: center;
  width: 936px;
  height: 123px;
}
.title h2 {
  font-weight: 600;
  font-size: 42px;
  padding-bottom: 10px;
}
.title p {
  font-weight: 400;
  font-size: 16px;
  color: #475467;
}
.solar-images {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  transform: 1s;
  gap: 1.875rem;
  overflow: hidden;
  padding-bottom: 30px;
}
.solar-images img {
  width: 100%;
  border-radius: 7px;
}
.solar-images .inner {
  flex: 1;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.inner h2 {
  padding: 0 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
}
.inner p {
  color: #475467;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 20px;
}
.btn-solar {
  border-style: none;
  padding: 0 20px;
  color: #3cab90;
  background-color: #ffff;
}

.btn-solar i {
  padding-left: 10px;
}
.repair {
  background-image: url(../images/photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
  backdrop-filter: blur(24px);
}

.info {
  text-align: center;
  width: 80%;
  border-radius: 12px;
  padding: 44px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #00000091;
  color: #ffff;
  backdrop-filter: blur(24px);
}
.info h2 {
  font-weight: 600;
  font-size: 42px;
  line-height: 50.83px;
  letter-spacing: -2%;
  text-align: center;
}
.info p {
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.parent {
  background: #ffbb1c0d;
}

.items-child {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 60px 0;
}

.child-1 {
  flex: 1;

  border-radius: 10px;
  padding: 40px 0;
}

.child-1 h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50.83px;
  padding-top: 20px;
}
.child-1 p {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #475467;
}
.child-1 span {
  border-radius: 10px;
  border-width: 21px;
  border: 21px solid #3cab9026;
  background: #3cab90;
  box-shadow: 0 0 10px #2f79675c;
  color: #ffff;
}
.child-2 {
  background-color: #3cab900d;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  flex: 1 1 30%;
}
.child-2 h4 {
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
}
.child-2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  padding-top: 10px;
}
.child-2 img {
  border-radius: 10px;
  background-color: #3cab9026;
  width: 225px;
  height: 49px;
}
.btn-child {
  padding: 20px 0;
  border-style: none;
  color: #3cab90;
}
.items {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.inner-values {
  padding-bottom: 30px;
  flex: 1;
  border: 1px solid #3cab90;
  padding: 30px;
  border-radius: 15px;
  background: #3cab900d;
}
.inner-values h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding: 10px 0;
}
.inner-values p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}
.icons i {
  font-size: 40px;
  color: #3cab90;
}
.shop-contents {
  background: #3cab900f;
  border-radius: 12px;
  padding: 30px;
  width: 80%;
}

.shop-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #101828;
  width: 80%;
  padding: 40px 0;
}
.item-shop h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: 0%;
  margin: auto;
}
.shop-content h5 {
  color: #3cab90;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #d9d9d9;
}
#demo {
  background-color: #101828;
}
.dot-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dots {
  display: inline-block;
}
.shop-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.shop-img img {
  max-width: 100px;
  height: auto;
}

.shop-details {
  flex: 1;
  margin: 0 10px;
}
.arrow i {
  font-size: 25px;
  padding: 0 0 0 10px;
}
.footer {
  background-color: #222;
  color: white;
  padding: 40px 0;
  position: relative;
}

.footer-img img {
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.footer-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15px;
}

.footer-content ul li {
  cursor: pointer;
}

.subscribe-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.subscribe-sub input {
  padding: 10px;
  border: none;
  border-radius: 15px;
  position: relative;
  width: 300px;
}

.btn3 {
  background-color: #ffbb1c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  position: absolute;
  right: 8%;
}

.btn3:hover {
  background-color: #e55a00;
}

.line {
  height: 1px;
  background-color: #fff;
  margin: 20px 0;
}

.privacy {
  font-size: 14px;
  text-align: center;
}
.footer span {
  position: absolute;
  top: 21%;
}
@media (max-width: 774px) {
  .container {
    width: 95%;
  }
  .footer-content {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
    gap: 20px;
  }

  .subscribe-sub {
    flex-direction: row;
  }

  .subscribe-sub input {
    width: 356px;
    left: 0;
  }
  .privacy {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .shop .item {
    display: block;
  }
  .shop-logo {
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .photo .logo1 img {
    width: 100%;
  }
  .photo .logo2 img {
    width: 100%;
  }
  .photo .logo2 {
    left: -24px;
    top: 33%;
  }
  .power {
    min-height: 0;
  }
  .inner-values {
    flex: none;
    width: 45%;
  }

  .title {
    width: 80%;
  }
  header {
    padding: 12px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--bg-color);
  }
  header.shadow #menu-icon {
    color: var(--text-color);
  }
  .navbar {
    position: absolute;
    top: -578px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    row-gap: 1.4rem;
    padding: 20px;
    box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
    text-align: center;
  }
  .navbar a {
    color: var(--text-color);
    transition: 0.3s all linear;
  }
  .navbar a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }
  .navbar a::after {
    display: none;
  }
  .navbar.active {
    top: 100%;
  }
  .home-text h2 {
    font-size: 2.4rem;
  }
  .btn {
    padding: 0.6rem 1.2rem;
  }
  .movies-container,
  .coming-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  }
   .shop-content p{
    width: 100%;
  }
  .info{
    width: 100%;
  }
}
@media (max-width: 472px) {
  .solar .solar-images {
    display: block;
    padding: 20px 0;
  }
  .photo .logo2 {
    top: 19%;
  }
   .shop-logo{
    display: block;
  }
   .subscribe-sub input{
    width: 100%;
  }
  .footer-content ul{
   flex-direction: column;
}
}
@media (max-width: 572px) {
  .child-1 {
    flex: none;
    width: 90%;
  }
  .items {
    grid-template-columns: none;
  }
    .item2{
    width: 100%;
  }
  .item{
    display: block;
  }
  .photo .logo2{
    top:59%
  }
}
@media (max-width:500px) {
  .inner-values{
    width: 100%;
  }
}
